.sistem-peternakan {
    display: flex;
    height: 894px;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(
            117deg,
            rgba(240, 253, 244, 1) 0%,
            rgba(239, 246, 255, 1) 100%
        ),
        linear-gradient(
            0deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 1) 100%
        );
    width: 100%;
    min-width: 1551px;
}

.sistem-peternakan .container {
    display: flex;
    flex-direction: column;
    width: 448px;
    height: 564px;
    align-items: flex-start;
    gap: 32px;
    padding: 32px 32px 0px;
    position: relative;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0px 8px 10px -6px #0000001a, 0px 20px 25px -5px #0000001a;
}

.sistem-peternakan .div {
    display: flex;
    flex-direction: column;
    height: 136px;
    align-items: center;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.sistem-peternakan .img {
    position: relative;
    flex: 1;
    width: 64px;
    flex-grow: 1;
}

.sistem-peternakan .heading {
    position: relative;
    width: 217.08px;
    height: 24px;
}

.sistem-peternakan .text-wrapper {
    position: absolute;
    top: -2px;
    left: -3px;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #101727;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.sistem-peternakan .paragraph {
    position: relative;
    width: 146.92px;
    height: 24px;
}

.sistem-peternakan .text-wrapper-2 {
    position: absolute;
    top: -2px;
    left: -1px;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #697282;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.sistem-peternakan .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.sistem-peternakan .container-2 {
    display: flex;
    flex-direction: column;
    height: 82px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.sistem-peternakan .label {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 24px;
}

.sistem-peternakan .text-wrapper-3 {
    position: absolute;
    top: -2px;
    left: 0;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #354152;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.sistem-peternakan .container-3 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 50px;
}

.sistem-peternakan .text-input {
    width: 384px;
    height: 50px;
    padding: 12px 16px 12px 40px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #d0d5db;
    background: none;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #0a0a0a80;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.sistem-peternakan .icon {
    position: absolute;
    top: 15px;
    left: 12px;
    width: 20px;
    height: 20px;
}

.sistem-peternakan .vector {
    position: absolute;
    width: 58.33%;
    height: 25.00%;
    top: 58.33%;
    left: 16.67%;
}

.sistem-peternakan .vector-2 {
    position: absolute;
    width: 33.33%;
    height: 33.33%;
    top: 8.33%;
    left: 29.17%;
}

.sistem-peternakan .password-input {
    display: flex;
    width: 384px;
    height: 50px;
    align-items: center;
    padding: 12px 16px 12px 40px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: #d0d5db;
}

.sistem-peternakan .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #0a0a0a80;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.sistem-peternakan .vector-3 {
    position: absolute;
    width: 75.00%;
    height: 45.83%;
    top: 41.67%;
    left: 8.33%;
}

.sistem-peternakan .vector-4 {
    position: absolute;
    width: 41.67%;
    height: 37.50%;
    top: 4.17%;
    left: 25.00%;
}

.sistem-peternakan .button {
    all: unset;
    box-sizing: border-box;
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 48px;
    background-color: #00c950;
    border-radius: 10px;
}

.sistem-peternakan .text-wrapper-5 {
    position: absolute;
    top: 10px;
    left: 168px;
    font-family: "Arimo-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}


