:root {
    --oval-feed-73153327figmasitered-orange: rgba(251, 44, 54, 1);
    --oval-feed-73153327-figma-site-semantic-button-font-family: "Poppins",
        Helvetica;
    --oval-feed-73153327-figma-site-semantic-button-font-weight: 400;
    --oval-feed-73153327-figma-site-semantic-button-font-size: 14.899999618530273px;
    --oval-feed-73153327-figma-site-semantic-button-letter-spacing: 0px;
    --oval-feed-73153327-figma-site-semantic-button-line-height: 24px;
    --oval-feed-73153327-figma-site-semantic-button-font-style: normal;
    --oval-feed-73153327-figma-site-semantic-heading-1-font-family: "Poppins",
        Helvetica;
    --oval-feed-73153327-figma-site-semantic-heading-1-font-weight: 400;
    --oval-feed-73153327-figma-site-semantic-heading-1-font-size: 21.399999618530273px;
    --oval-feed-73153327-figma-site-semantic-heading-1-letter-spacing: 0px;
    --oval-feed-73153327-figma-site-semantic-heading-1-line-height: 36px;
    --oval-feed-73153327-figma-site-semantic-heading-1-font-style: normal;
    --oval-feed-73153327-figma-site-semantic-heading-2-font-family: "Poppins",
        Helvetica;
    --oval-feed-73153327-figma-site-semantic-heading-2-font-weight: 400;
    --oval-feed-73153327-figma-site-semantic-heading-2-font-size: 18.899999618530273px;
    --oval-feed-73153327-figma-site-semantic-heading-2-letter-spacing: 0px;
    --oval-feed-73153327-figma-site-semantic-heading-2-line-height: 30px;
    --oval-feed-73153327-figma-site-semantic-heading-2-font-style: normal;
    --oval-feed-73153327-figma-site-semantic-heading-3-font-family: "Poppins",
        Helvetica;
    --oval-feed-73153327-figma-site-semantic-heading-3-font-weight: 400;
    --oval-feed-73153327-figma-site-semantic-heading-3-font-size: 14.399999618530273px;
    --oval-feed-73153327-figma-site-semantic-heading-3-letter-spacing: 0px;
    --oval-feed-73153327-figma-site-semantic-heading-3-line-height: 24px;
    --oval-feed-73153327-figma-site-semantic-heading-3-font-style: normal;
    --oval-feed-73153327-figma-site-semantic-heading-4-font-family: "Poppins",
        Helvetica;
    --oval-feed-73153327-figma-site-semantic-heading-4-font-weight: 400;
    --oval-feed-73153327-figma-site-semantic-heading-4-font-size: 14.5px;
    --oval-feed-73153327-figma-site-semantic-heading-4-letter-spacing: 0px;
    --oval-feed-73153327-figma-site-semantic-heading-4-line-height: 24px;
    --oval-feed-73153327-figma-site-semantic-heading-4-font-style: normal;
    --oval-feed-73153327-figma-site-semantic-input-font-family: "Poppins",
        Helvetica;
    --oval-feed-73153327-figma-site-semantic-input-font-weight: 400;
    --oval-feed-73153327-figma-site-semantic-input-font-size: 16px;
    --oval-feed-73153327-figma-site-semantic-input-letter-spacing: 0px;
    --oval-feed-73153327-figma-site-semantic-input-line-height: normal;
    --oval-feed-73153327-figma-site-semantic-input-font-style: normal;
    --oval-feed-73153327-figma-site-semantic-item-font-family: "Poppins",
        Helvetica;
    --oval-feed-73153327-figma-site-semantic-item-font-weight: 400;
    --oval-feed-73153327-figma-site-semantic-item-font-size: 14.300000190734863px;
    --oval-feed-73153327-figma-site-semantic-item-letter-spacing: 0px;
    --oval-feed-73153327-figma-site-semantic-item-line-height: 24px;
    --oval-feed-73153327-figma-site-semantic-item-font-style: normal;
    --oval-feed-73153327-figma-site-semantic-label-font-family: "Poppins",
        Helvetica;
    --oval-feed-73153327-figma-site-semantic-label-font-weight: 400;
    --oval-feed-73153327-figma-site-semantic-label-font-size: 14.600000381469727px;
    --oval-feed-73153327-figma-site-semantic-label-letter-spacing: 0px;
    --oval-feed-73153327-figma-site-semantic-label-line-height: 24px;
    --oval-feed-73153327-figma-site-semantic-label-font-style: normal;
    --oval-feed-73153327-figma-site-semantic-options-font-family: "Poppins",
        Helvetica;
    --oval-feed-73153327-figma-site-semantic-options-font-weight: 400;
    --oval-feed-73153327-figma-site-semantic-options-font-size: 14.899999618530273px;
    --oval-feed-73153327-figma-site-semantic-options-letter-spacing: 0px;
    --oval-feed-73153327-figma-site-semantic-options-line-height: 16px;
    --oval-feed-73153327-figma-site-semantic-options-font-style: normal;
    --oval-feed-73153327-figma-site-poppins-regular-font-family: "Poppins",
        Helvetica;
    --oval-feed-73153327-figma-site-poppins-regular-font-weight: 400;
    --oval-feed-73153327-figma-site-poppins-regular-font-size: 16px;
    --oval-feed-73153327-figma-site-poppins-regular-letter-spacing: 0px;
    --oval-feed-73153327-figma-site-poppins-regular-line-height: 24px;
    --oval-feed-73153327-figma-site-poppins-regular-font-style: normal;
}
